.list {
  height: auto;
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.item {
  height: auto;
  padding: 10px 15px;
  background-color: rgba(27, 31, 35, 0.45);
  margin-bottom: 3px;
  align-items: center;
  display: flex;
  cursor: pointer;
  font-weight: 500;
}

.item-active {
  height: auto;
  padding: 10px 5px 10px 20px;
  background-color: rgba(90, 104, 117, 0.45);
  margin-bottom: 3px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.edit-buttons {
  display: flex;
  right: 0.25rem;
}

.edit {
  padding: 0.25rem;
  color: #c5c5d2;
}

.rename:hover,
.xmark:hover,
.checkmark:hover {
  color: #fcecf1;
}

.delete:hover {
  color: #be3333;
}

input {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: aliceblue;
  font-size: inherit;
  border-radius: 6px;
}
