.app {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.app-header {
  margin: 5px auto;
}

button {
  all: unset;
  font-size: calc(10px + 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-controller {
  top: 0;
  display: flex;
  position: fixed;
  z-index: 10;
  width: auto;
  right: 0;
  background: transparent;
}

.button-text-controller {
  height: 45px;
  width: 135px;
  background-color: rgb(27, 31, 35);
  border-radius: 5px;
  border: solid 1px #333;
  color: beige;
  margin: 10px 15px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}
