.viewer {
	height: 100%;
	flex: 0 0 30%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background-color: #000000;
	flex-direction: column;
	overflow: auto;
	z-index: 10;
}

.manager {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.title {
	margin: 10px auto;
}

.list {
	height: auto;
	list-style-type: circle;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.item {
	height: auto;
	padding: 20px;
	background-color: rgba(27, 31, 35, 0.45);
	margin-bottom: 10px;
	align-items: center;
	display: flex;
	border-radius: 0 20px 20px 0;
	width: 80%;
}

.item-active {
	height: auto;
	padding: 20px;
	background-color: rgb(90 104 117 / 45%);
	margin-bottom: 10px;
	align-items: center;
	display: flex;
	border-radius: 0 20px 20px 0;
	width: 87%;
	font-weight: 700;
}
