.viewer {
  height: 100%;
  flex: 0 0 30%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #050505;
  flex-direction: column;
  overflow: auto;
  z-index: 10;
}

.manager {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin: 10px auto;
}

.create-container {
  background-color: #000;
  width: 100%;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
}

.create-button {
  height: 35px;
  width: auto;
  background-color: rgb(27, 31, 35);
  border-radius: 5px;
  padding: 0 15px;
  color: beige;
  margin: 10px;
  box-shadow: 0px 2px 6px 3px rgba(96, 96, 86, 0.5);
}

.create-input {
  height: 32px;
  font-size: large;
  font-weight: 400;
  background-color: rgb(27, 31, 35);
  border-radius: 5px;
  padding: 0 15px;
  color: beige;
  margin: 10px;
  box-shadow: 0px 2px 6px 3px rgba(96, 96, 86, 0.5);
}
