html,
body {
	background-color: #000000;
	height: 100%;
}

body {
	margin: 0;
	font-family: "Segoe UI", "Roboto", "Ubuntu", "Canterell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #eeeeee;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	height: 100%;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-button {
	background-color: #666;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 3px;
}

::-webkit-scrollbar-track {
	background-color: #646464;
}

::-webkit-scrollbar-track-piece {
	background-color: #000;
}
